html
    head
        style
             include ./styles.css
    body
        title=title
        #header 
          ul#links
            li   Design
          ul
            li  Technology 
          ul
            li  Products 
          ul
            li  Labs 

          h2#lateral LATERAL

          ul#links2
            li   Institute
          ul
            li  About 
          ul
            li  Careers 
          ul
            li  Contact
              
        #about 
          p About Us
           #about1 
            ul 
                li Team
            ul 
                li Company
            ul 
                li Offices
            ul
                li Careers

        #offices
             p#office Offices
        #bg 
            #footer 
                ul#links
                    li#footerlink   Design
                ul
                    li#footerlink   Technology 
                ul
                    li#footerlink   Products 
                ul
                    li#footerlink   Labs 

                p#footerLateral Lateral, Inc is part of Lateral Group

                ul#links2
                    li#footerlink     About Us
                ul
                    li#footerlink    Careers 
                ul
                    li#footerlink    Contact Us
            #row
                span#social1 FACEBOOK 
                span#social2 TWITTER
                span#social3 EMAIL US

            p#center
                | Copyright &copy; 2021 Lateral Inc. 
                br
                br
            p#clinks
                a(href='#') Terms and Conditions
                |  |
                a(href='#') Privacy Policy
                |  |
                a(href='#') Cookies Policy  
                span | THANKS FOR SCROLLING THIS FAR!!
            
        
                
            
            

           



    

