html
    head
        style
             include ./styles.css
    body#element
    
        title=title
        #header 
          ul#links
            li   Design
          ul
            li  Technology 
          ul
            li  Products 
          ul
            li  Labs 

          h2#lateral LATERAL

          ul#links2
            li   Institute
          ul
            li  About 
          ul
            li  Careers 
          ul
            li  Contact
          ul 
            li 
               img#imagefb(src='../../pictures/fblogo.png')
              
        #about 
          p#us About Us
           #about1 
            ul 
                li Team
            ul 
                li Company
            ul 
                li Offices
            ul
                li Careers

        #team
          p#heading A Passionate Team
        div#heads(style='margin: 0px 290px')
          div(style='display:flex; flex-direction: row; flex-wrap:wrap; gap:40px')
            - for(var i=0; i<105; i++)
              div#circle(class=`${i}` style=`background-image: url("https://www.lateral-inc.com/assets/img/team.jpg?v=8");  background-position-y: -${86*i}px;`)       
        
        

        #offices
             p#office Offices
              .flex-container
                div#container 
                   img#image(src='../../pictures/empire.jpeg')
                   div 
                   p#newyork New York
          
                div#container 
                  img#image(src='../../pictures/san.jpg')
                  div 
                   p#newyork San Fransisco
                div#container 
                  img#image(src='../../pictures/london.jpg')
                  div 
                   p#newyork London
              .flex-container2
                div#container 
                   img#image(src='../../pictures/cluj.jpg')
                   div 
                   p#newyork Mures
                div#container 
                  img#image(src='../../pictures/mures.jpg')
                  div 
                   p#newyork Cluj
                div#container
                  img#image(src='../../pictures/oradea.jpg')
                  div 
                   p#newyork Oradea
        #bg 
            #footer 
                ul#links
                    li#footerlink   DESIGN
                ul
                    li#footerlink   TECHNOLOGY 
                ul
                    li#footerlink   PRODUCTS 
                ul
                    li#footerlink   LABS 

                p#footerLateral Lateral, Inc is part of Lateral Group

                ul#links2
                    li#footerlink     ABOUT US
                ul
                    li#footerlink    CAREERS 
                ul
                    li#footerlink    CONTACT US
            #row
              
              img#images(src='../../pictures/fblogo.png')
              span#social1 FACEBOOK 
              img#images(src='../../pictures/twitterlogo.jpg')
              span#social2 TWITTER
              img#images(src='../../pictures/emaillogo.png')
              span#social3 EMAIL US
               

            p#center
                | Copyright &copy; 2021 Lateral Inc. 
                br
                br
            p#clinks
                a(href='#') Terms and Conditions
                |  |
                a(href='#') Privacy Policy
                |  |
                a(href='#') Cookies Policy  
                span | THANKS FOR SCROLLING THIS FAR!!

    script 
            include ./script.js
            
        
                
            
            

           



    

