html
    head
        style
             include ./styles.css
    body
        title=title
        #header 
          ul#links
            li   Design
          ul
            li  Technology 
          ul
            li  Products 
          ul
            li  Labs 

          h2#lateral LATERAL

          ul#links2
            li   Institute
          ul
            li  About 
          ul
            li  Careers 
          ul
            li  Contact
              
        #about 
          p About Us
           #about1 
            ul 
                li Team
            ul 
                li Company
            ul 
                li Offices
            ul
                li Careers

        

            

           



    

